h1{
  height: 42px;
  width: 267px;
  float: left;
  margin-top: 20px;
  font-family: Arial Black;
  font-size: 44px ;
  font-weight: 36px;
  color: #778A50;
  background-color:#EDF2C5;
}
body{
width: auto;
  height: auto;
  background-color: #EDF2C5;
}

.bigbody{
  width: 940px;
  height: 690px;
  background-color:  #EDF2C5;
  margin:0 160px;
}

#facebook{
  margin-top: 50px;
  float: left;
  margin-left: 476px;
}
#instagram{
  float: left;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 10px;
}
#line{
  font-family: Arial black;
  float: left;
  width: 1px;
  height: 25px;
  background-color: #778A50;
  margin-top: 50px;
}
#login{
  font-family: Arial black;
  float: left;
  color:  #778A50;
  margin-left: 8px;
  margin-top: 50px;
  border: 1px solid #778A50;
  border-radius: 3px;
  padding: 1px;
}
#join{
  font-family: Arial black;
  float: left;
  color:  #778A50;
  margin-left: 8px;
  margin-top: 50px;
  border: 1px solid #778A50;
  border-radius: 3px;
  padding: 1px;
}
.second{
  float: left;
  /*margin-top: 10px;*/
  width: 940px;
  height: 34px;
  background-color: #778A50;
  padding-top: 10px;
  border-radius: 3px;
}

nav a{
  text-decoration: none;
  font-size: 16px;
  margin: 16px 30px;
  font-family: Arial black;
  color: white;
}
#pumpkin{
  margin-top: 20px;
}
.a1{
  float: left;
  width: 446px;
}
#left{
  width: 416px ;
  height: 34px;
  background-color: #778A50;
  padding-top: 10px;
  border-radius: 3px;
  float: left;
}
.a2{
  float: right;
  width: 446px;
}
#right{
  width: 416px ;
  height: 34px;
  background-color: #778A50;
  padding-top: 10px;
  border-radius: 3px;
  float:left;
}
.title{
  font-family: arial black;
  font-size: 16px;
  float: left;
  color: white;
  padding-left: 30px;
  margin: 15px 0;
}
#pepper,#carrot,#corn{
  width: 140px;
  height: 140px;
}
#carrot{

  margin: 0 9px;
}

#word{
  width: 445px;
  height: 140px;
  background-color: #F7FBDA;
  float: right;
}
#word1{
  font-family: Arial;
 font-size: 12px;
 line-height: 1.33;
 color: #7D7D7D;
 margin: 16px 15px;
}
#line2{
  width: 414px;
height: 1px;
background-color: #7D7D7D;
margin: 0 15px;
margin-bottom: 16px;
float: left;
}
.connect{
    font-size: 12px;
    font-family: Arial;
    line-height: 1.83;
    color:#7D7D7D;
    margin: 15px;
}
footer{
  width: 1260px;
  height: 60px;
  background-color: #778A50;
  float:left;
  margin-top: 35px;
}
.foot{
  font-size: 12px;
   font-family: Arial;
   color: #EDF2C5;
   margin: 24px 479px;
   float: left;
}
